:root {
  --color-primary-blue: #023047;
  --color-primary-green: #5fad41;
  --color-white: #fff;
  --color-light: #fffff2; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-light); }

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  background-color: var(--color-primary-blue); }

.nav-el {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  list-style: none; }
  .nav-el__item {
    display: inline-block; }
  .nav-el__link {
    text-decoration: none;
    color: var(--color-light);
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.5rem; }
    .nav-el__link:hover {
      border-bottom: 2px solid var(--color-primary-green); }
  .nav-el__user-name {
    font-weight: 500;
    color: var(--color-white); }
