:root {
    --color-primary-blue: #023047;
    // --color-primary-green: #5fad41;
    --color-primary-green: rgb(20, 141, 20);
    --color-white: #fff;
    --color-light: #fffff2;

    --color-grey: #edf2f4;

    --border: 1.5rem;
    --shadow: 2px 1px 5px var(--color-primary-blue);
}

$bg-largest: 75em; // 1200 px
$bg-large: 68.75em; // 1100 px
$bg-medium: 60em; // 950 px
$bg-small: 46.8em; // 750 px
$bg-smallest: 31.25em; // 500 px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bg-large) {
        font-size: 50%;
    }
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: var(--color-light);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
