:root {
  --color-primary-blue: #023047;
  // --color-primary-green: #5fad41;
  --color-primary-green: green;
  --color-white: #fff;
  --color-light: #fffff2;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-light);
}
