.nav-el {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  list-style: none;

  &__item {
    display: inline-block;
  }

  &__link {
    text-decoration: none;
    color: var(--color-light);
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2rem;

    &:hover {
      border-bottom: 1px solid var(--color-light);
    }
  }

  &__user-name {
    font-weight: 500;
    color: var(--color-white);
  }
}
