.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  background-color: var(--color-primary-blue);
}

.main-section {
  width: 75vw;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bg-large) {
    width: 90vw;
  }

  @media only screen and (max-width: $bg-small) {
    width: 100vw;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100rem;
  margin: 5rem;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-blue);
  padding: 2rem;
}
