.myProfile-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.profile {
    height: 70vh;
    width: 75vw;

    margin-top: 3rem;
    background-color: var(--color-grey);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--border);

    @media only screen and (max-width: $bg-smallest) {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    &__ul {
        margin-left: 1rem;
        li {
            border-bottom: 1px solid var(--color-grey);
            display: grid;
            grid-template-columns: 3rem 1fr;
            align-items: center;
            column-gap: 1.5rem;
        }
    }

    &__player-info {
        height: 50vh;
        width: 35vw;
        background-color: var(--color-white);
        border-radius: var(--border);
        box-shadow: var(--shadow);

        padding: 1rem;

        @media only screen and (max-width: $bg-small) {
            width: 30vw;
        }

        @media only screen and (max-width: $bg-smallest) {
            width: 90vw;
            position: relative;
        }
    }

    &__icon {
        fill: var(--color-primary-blue);
        width: 2.2rem;
        height: 2.2rem;
    }

    &__img {
        // width: 40rem;
        // margin: 1rem 2rem;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        border-radius: var(--border);
        box-shadow: 0px 0px 3px var(--color-primary-blue);
        padding: 1rem 2rem;

        &--img {
            width: 12rem;
            height: 12rem;
        }

        &--name {
            width: 20rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 50vh;
        width: 35vw;

        @media only screen and (max-width: $bg-small) {
            width: 40vw;
        }

        @media only screen and (max-width: $bg-smallest) {
            display: none;
        }

        & > * {
            border-radius: var(--border);
            box-shadow: var(--shadow);
        }
    }

    &__info-personal {
        background-color: var(--color-white);
        height: 24vh;

        @media only screen and (max-width: $bg-small) {
            height: 20vh;
            margin-bottom: 1rem;
        }
    }

    &__info-game {
        background-color: var(--color-white);
        height: 24vh;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bg-medium) {
            font-size: 50%;
        }

        @media only screen and (max-width: $bg-small) {
            height: 30vh;
        }
    }

    &__info-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 1.5rem;
        width: 15vw;

        @media only screen and (max-width: $bg-medium) {
            width: 10vw;
        }

        @media only screen and (max-width: $bg-small) {
            width: 14vw;
        }

        & > * {
            font-size: 1.4rem;
            color: #000;
            padding: 1rem;
            border: 1px solid var(--color-primary-blue);
            border-radius: 1rem;
            text-align: center;
            transition: all 0.2s;

            &:hover {
                background-color: var(--color-primary-blue);
                color: var(--color-light);
                transform: translateY(-3px);
                box-shadow: var(--shadow);
            }
        }
    }

    &__info-text {
        text-align: center;
        margin: -1rem 1rem;

        @media only screen and (max-width: $bg-small) {
            margin-top: 1rem;
        }
    }

    &__ul > * {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
}
