.heading-primary {
  color: var(--color-primary-blue);
  text-transform: uppercase;
  flex-basis: 20rem;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-bottom: 3rem;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;

    @media only screen and (max-width: $bg-medium) {
      font-size: 3.2rem;
    }

    @media only screen and (max-width: $bg-small) {
      font-size: 3.2s;
      text-align: center;
    }
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1rem;
    text-align: center;

    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in;

    @media only screen and (max-width: $bg-medium) {
      font-size: 2.2rem;
    }
  }
}

.heading-secondary {
  color: var(--color-primary-green);
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.text-footer {
  list-style: none;
  color: var(--color-light);
  font-size: 1.6rem;
}

.heading-tertiary {
  color: var(--color-primary-blue);
  font-size: 2.5rem;
}
